/*body {
    height: 100vh;
    width: 100%;
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
h1 {
    color: white;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}
.qustion {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 45px;
    border-style: hidden;
    padding: 15px;
}
button {
    color: black;
    border-style: hidden;
    font-weight: 500;
    font-size: 24px;
}
#answer {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 40px;
}
#showAnswer {
    padding: 15px;
    border-radius: 20px;
    width: 50%;
    background-color: #93f542;
}
#next {
    padding: 10px;
    border-radius: 15px;
    margin-top: 45px;
    margin-left: auto;
    background-color: white;
}
.questionNumber {
    margin-left: auto;
    font-size: 25px;
}
.card {
    padding: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4d4d4d;
    width: 80%;
}
    */
.right h2{
    font-size: 26px;
    position: absolute;
    top: 57px;
    left: 552px;
    padding-left: 150px;
    padding-top: 30px;
    color:rgb(112, 158, 208);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.right img{
    position: absolute;
    top: 60px;
    left: 700px ;
    width: 700px;
}   
.left{
    position: absolute;
    left: 10%;
    top: 20%;
}
#lname,#fname{
    width: 155px;
    height: 40px;
  
}
.left label{
    font-size: 16px;
    color: rgb(126, 128, 128);
    font-family: 'lato',sans-serif;
}
.left table tr td{
    padding-bottom: 12px;
}
.left input{
    width: 330px;
    height: 42px;
    background: white;
    border: 1px,solid,black;
    border-radius: 5px;
}
#items {
    width: 330px;
    height: 42px;
    text-align: center;
    text-align-last: center; /* Seçili öğeyi ortalar */
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(126, 128, 128);
    margin-top: 8px;
   
}

input, select {
    margin: 0px 0; /* Yukarı ve aşağıdaki boşlukları azalt */
    box-sizing: border-box;
}
td {
    padding: 8px;
}
#sign-up {
    width: 135px;
    height: 42px;
    border-radius: 5px;
    border: 1px,solid,rgb(6,42,228);
    color: rgb(255, 255, 255);
    background-color: rgb(6,42,228);
    font-family: 'lato',sans-serif;
    position: absolute;
    margin-top: 15px;
    font-size: 16px;
    font-weight:bolder;
    left: 110px;
   }
   #sign-up:hover{
    text-shadow: 0 0 20px 0px rgba(33, 102, 231, 0.2);
    cursor: pointer;
    scale: 1.05;

   }
   .sign-in p{
    padding-top: 480px;
    font-size: 14px;
    padding-left: 220px;
   }
   .sign-in a{
    color:  rgb(6,42,228);
    padding-left: 2px;
   }
   .sign-in a:hover{
    font-weight: bold;
    scale: 2;
   }
  .or button{
    width: 150px;
    height: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
  }
  .or span{
   color: rgb(126, 128, 128);
   font-size: 18px;
   margin: 10px;
    }

  .or {
    padding-left: 145px;
  } 
  
  .icon{
    font-size: 50px;
    margin-left: 75px;
    margin-top: 150px;
  }

  .icon a{
   color: rgb(6,42,228);
   padding-right: 15px;
  }

  .logo img{
    margin-top: 15px;
    margin-left: 13px;
  }

  .heading{
    font-family:'lora',sans-serif ;
    font-size: 23px;
    color: rgb(112, 158, 208);
    text-align: center;
    padding-top: 20px;
    }

    .form-log-in {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 35px;
    }

   
    .form-log-in label{
        font-size: 16px;
        font-family: 'lato', sans-serif;
        color:  rgb(126, 128, 128);
    }
    
    .form-log-in input{
        width: 330px;
        height: 42px;
        border-radius: 5px;
    }

    #sign-in-button button{
        width: 130px;
        height: 35px;
        border-radius: 5px;
        align-content: center;
        background-color: rgb(6,42,228);
        border: 1px,solid,rgb(6,42,228);
        color: white;
        font-weight: bold;
        font-size: 16px;
        font-family: 'lato',sans-serif;
        margin-left: 100px;
        margin-top: 30px;
    }



